.client__list {
    --items: 2;

    @media screen and (min-width: 768px) {
        --items: 3;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.client__item {
    width: 210px;
    height: 92px;

    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--sprite-color);
    border-radius: 4px;

    transition: outline var(--timing-dur) var(--timing-func);

    &:hover,
    &:focus {
        outline: 1px solid var(--accent-color);
    }
}

.client__icon {
    width: 106px;
    height: 60px;
    fill: var(--sprite-color);

    transition: fill var(--timing-dur) var(--timing-func);

    .client__link:hover &,
    .client__link:focus & {
        fill: var(--accent-color);
    }
}