.filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 15px;
    }
}

.filter__item + .filter__item {
    margin-left: 8px;
}

.filter__item:nth-child(4) {
    @media screen and (max-width: 767px) {
        margin-left: 0;
    }
}

.filter__btn {
    @extend %btn;

    padding: 6px 22px;

    color: var(--secondary-text-color);
    background-color: var(--secondary-bgc);

    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;

    transition: color var(--timing-dur) var(--timing-func), box-shadow var(--timing-dur) var(--timing-func);

    &:active,
    &:hover,
    &:focus {
        color: var(--primary-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }    
}