.hero {
    padding: 118px 0;
    margin: 0 auto;
    text-align: center;
    max-width: 767px;
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero-mobile@2x.jpg');
    }

    @media screen and (min-width: 768px) {
        max-width: 1199px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero-tablet.jpg');
    
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
          background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero-tablet@2x.jpg');
        }
    }

    @media screen and (min-width: 1200px) {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero-desktop.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../img/hero-desktop@2x.jpg');
    }    
}
}

.hero__title {
    margin: 0 auto 30px auto;
    max-width: 360px;

    color: var(--primary-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
    }
}

.hero__btn {
    @extend %btn;

    padding: 10px 32px;

    &:hover,
    &:focus {
        background-color: var(--hover-color);
    }
}