.logo-header {
    padding: 16px 0;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}

.logo-end {
    color: #000000;
}

.page-nav {
    display: flex;
    align-items: center;

}

.menu__btn {
    position: fixed;
    top: 10px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;

    & .close-menu__icon {
        display: none;
    }
    & .menu__icon {
        transition: fill var(--timing-dur) var(--timing-func);
    }

    &.is-open .close-menu__icon {
        display: block;

        transition: fill var(--timing-dur) var(--timing-func);
    }

    &.is-open .menu__icon {
        display: none;
    }

    &:hover .menu__icon,
    &:focus .menu__icon {
        fill: var(--accent-color);
    }

    &:hover .close-menu__icon,
    &:focus .close-menu__icon {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: none;   
    }
}

.mobile__cont {
    @media screen and (max-width: 767px) {
        display: none;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 800px;
        padding: 48px 40px;
    
        background-color: var(--primary-color);
    }

    &.is-open {
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        width: 100%;
    }
}

.nav__list {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.nav__link {
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color var(--timing-dur) var(--timing-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        padding: 32px 0;

        font-size: 14px;
        line-height: 1.14;
    }
}

.active__link {
    color: var(--accent-color);

    @media screen and (min-width: 768px) {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-color);
        }

        &:hover::after,
        &:focus::after {
            animation: scaleline var(--timing-dur) var(--timing-func);
        }

        @keyframes scaleline {
            0% {
                   transform: scale(0);
            }
            100% {
                    transform: scale(1);
            }
        }
    }
}

.nav__item + .nav__item {
    @media screen and (max-width: 767px) {
        margin-top: 32px;
    }
    @media screen and (min-width: 768px) {
        margin-left: 50px;
    }
}

.cont__list {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
        margin-top: auto;
    }

    @media screen and (min-width: 768px) {
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.cont__icon {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        margin-right: 10px;
        fill: var(--primary-text-color);

        transition: fill var(--timing-dur) var(--timing-func);

        .cont__link:hover &,
        .cont__link:focus & {
            fill: currentColor;
        }
    }
}

.cont__link {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color var(--timing-dur) var(--timing-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}
.mail__link {
    @media screen and (min-width: 768px) {
        padding: 20px 0 5px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 32px 0;
    }
}

.tel__link {
    @media screen and (max-width: 767px) {
        color: var(--accent-color);

        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
    }

    @media screen and (min-width: 768px) {
        padding: 5px 0 20px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 32px 0;
    }
}

.cont__item + .cont__item {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 30px;
    }
}

.social-mob__list {
    display: flex;
    margin-top: 64px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.social-mob__item + .social-mob__item {
    position: relative;
    margin-left: 20px;

    &::before {
        position: absolute;
        left: -10px;
        content: '';
        display: block;
        height: 100%;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.social-mob__link {
    color: var(--accent-color);

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}

.page-header {
    border-bottom: 1px solid #ECECEC;

    @media screen and (max-width: 767px) {
        position: relative;   
    }
}