.page-footer {
    padding: 60px 0;
    background-color: var(--primary-bgc);
}

.foot__cont {
    @media screen and (max-width: 1199px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
}

.logo-end-foot {
    color: var(--primary-color);
}

.cont-foot__list {
    font-style: normal;

    @media screen and (max-width: 1199px) {
        width: 232px;
        margin: 0 auto 60px auto;
        text-align: center;
    }
}

.contact-first {
    color: var(--primary-color);
}

.cont-foot__item + .cont-foot__item {
    margin-top: 8px;

    @media screen and (min-width: 1200px) {
        margin-top: 9px;   
    }
}

.cont-foot__link {
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--timing-dur) var(--timing-func);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.social-foot__cont {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        margin-left: 165px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}

.social-foot__text {
    margin-bottom: 20px;
    color: var(--primary-color);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.social-foot__link {
   @extend  .social__link;

    background-color: var(--sprite-bgc);
}

.mailing__cont {
    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}

.mailing__form {
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.mailing__input {
    padding: 15px;
    max-width: 450px;
    height: 50px;
    background-color: var(--primary-bgc);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    color: rgba(255, 255, 255, 0.6);
    transition: border var(--timing-dur) var(--timing-func), box-shadow var(--timing-dur) var(--timing-func);

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);

        font-size: 16px;
        line-height: 1.25;
    }

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        outline: none;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}

.mailing__btn {
    @extend %btn;

    padding: 10px 29px;
    margin-left: 12px;
    display: flex;
    align-items: center;

    transition: box-shadow var(--timing-dur) var(--timing-func);

    &:hover,
    &:focus {
        background-color: var(--hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    @media screen and (max-width: 1199px) {
        margin: 0 auto;
    }
}

.mailing__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}