:root { --primary-text-color: #757575;
--secondary-text-color: #212121;
--primary-color: #ffffff;
--accent-color: #2196f3;
--hover-color: #188ce8;
--primary-bgc: #2f303a;
--secondary-bgc: #f5f4fa;
--sprite-color: #afb1b8;
--sprite-bgc: rgba(255, 255, 255, 0.1);
--timing-dur: 250ms;
--timing-func: cubic-bezier(0.4, 0, 0.2, 1);
--indent: 30px;
--items: 3;
}
